@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use 'vuetify/lib/styles/tools/functions' as *;

$border-radius-root: 12px;
$btn-font-weight: 400 !default;
$btn-letter-spacing: 0 !default;
// colors
$white: #fff !default;

// cards
$card-item-spacer-xy: 20px 24px !default;
$card-text-spacer: 24px !default;
$card-title-size: 18px !default;
$box-shadow: 1px 0 20px rgb(0 0 0 / 8%);